:root {
  /* CSS HEX */
  --tea-green: #c1d8b7ff;
  --columbia-blue: #aec6cfff;
  --lavender-web: #e6e6faff;
  --tea-rose-red: #f7cac9ff;
  --light-orange: #ffdab9ff;

  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--lavender-web);
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--light-orange);
  height: 10dvh;
  width: 100dvw;
  text-align: center;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 85dvh;
  width: 100dvw;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > * {
  margin: 1em;
}

main > p {
  font-size: small;
}

main > img {
  height: 30dvh;
  /* width: 50dvw; */
  background-color: darkgrey;
  object-fit: cover;
}

nav {
  margin: 0.5em;
}

nav > a {
  text-decoration: none;
  background-color: var(--tea-rose-red);
  color: white;
  padding: 0.25em;
  border-radius: 0.5em;
}

nav > a:hover {
  background-color: var(--light-orange);
}

footer {
  background-color: var(--light-orange);
  height: 5dvh;
  width: 100dvw;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
